html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.field {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  min-height: 100px;
  text-align: center;
  border: 2px solid #f5f5f5;
  padding: 10px;
  margin: 5px 2.5px;
}
.error-text {
  padding: 5px 0;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}
input,
select,
textarea {
  width: 200px;
  clear: both;
}
input.error,
select.error,
textarea.error {
  outline: 4px solid rgba(255, 0, 0, 0.3);
}
input[type=checkbox],
select[type=checkbox],
textarea[type=checkbox] {
  width: 20px;
  height: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
label {
  display: block;
  padding: 0 0 10px;
}
xmp {
  font-family: Verdana, sans-serif;
  display: inline-block;
  font-size: inherit;
}
:root {
  --popup-half-size: 400px;
}
.popup {
  border: 3px solid rgba(112, 106, 245, 0.36);
  padding: 30px;
  width: calc(var(--popup-half-size)*2);
  height: calc(var(--popup-half-size)*2);
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: calc(50% - var(--popup-half-size));
  left: calc(50% - var(--popup-half-size));
  box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */